@import url('https://fonts.googleapis.com/css2?family=Alata&family=Arimo&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Alata', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350 px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  font-size: 35px;
  letter-spacing: 2px;
  margin: 30px 0 10px;
}

h3 {
  border-bottom: 1px solid #bbb;    /* Line */
  padding-bottom: 10px;
  margin: 40px 0 10px;
  letter-spacing: 2px;
  font-size: 19px;
}

h4 {
  margin: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.inc-exp {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin: 15px 0;
  display: flex;                      /* Side by side */
  justify-content: space-between;     /* One on each side */
} 

.inc-exp > div {
  flex: 1;
  text-align: center;
}

.inc-exp > div:first-of-type {        /* First div */
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 10px 0;
}

#money-plus {
  color: #478f71;
}

#money-minus {
  color: #CF1B1B;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'], input[type='number'] {
  border: 1px solid #dedede;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.form-control {
  font-size: 18px;
  letter-spacing: 1px;
}

.btn {
  cursor: pointer;
  background-color: #BFD8B8;
  box-shadow: var(--box-shadow);
  display: block;
  font-size: 16px;
  margin: 30px 0 30px;
  padding: 8px;
  width: 100%;
  letter-spacing: 1px;
  font-family: 'Alata', sans-serif;
}

.btn:focus, .delete:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0px;
  letter-spacing: 1px;
}

.list li.plus {
  border-right: 5px solid #CF1B1B;
}

.list li.minus {
  border-right: 5px solid #478f71;
}

.delete {
  border: 1px solid #333;
  background-color: #EF4F4F;
  font-size: 20px;
  color: #fff;
  line-height: 18px;
  padding: 2px 6px;
  position: absolute;                   /* Delete button on left side */
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);    /* Fix positioning */
  opacity: 0;                           /* Only show when hover over item */
  transition: opacity 0.3s ease ;       /* Fades in/ out when hovering */
}

.list li:hover .delete{
  opacity: 1;
}

#text {
  font-family: 'Alata', sans-serif;
  letter-spacing: 1px;
}

#amount {
  font-family: 'Alata', sans-serif;
  letter-spacing: 1px;
}
